@charset "UTF-8";
/*------*/
/* MISC */
/*------*/

/*
#BLACK 			= #021025
#LIGHTGREY 	= #f0f0f0
*/

html, body {
	text-rendering: optimizeLegibility;
	font-size: 1em;
	color:#333;
	font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.45;
	/*-webkit-font-smoothing: antialiased;*/
	/*background: url(../img/pyramid.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
					background-size: cover;*/
}
p {
	margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  word-wrap: break-word;
}
h1 {
  margin-top: 0;
  font-size: 6.854em;
}
h2 {
	font-size: 4.236em;
}
h3 {
	font-size: 2.618em;
}
h4 {
	font-size: 1.618em;
}
small, .font_small {
	font-size: 0.618em;
}

a {
  color: #1a252f;
  text-decoration: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #2c3e50;
}
.mail-link {
	display: block;
	text-align: center;
}

.rand {
  margin: 0 3.5%;
}
.cf:after {
 content: " ";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}

.inhalt {
	height: 100%;
	width: 100%;
	max-width: 1024px;

	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;

	/*padding-top:36px;*/
	padding: 5% 0;
	/*background-color: rgba(102, 102, 102, 0.3);*/
}

.footer {
	bottom: 0;
	width: 100%;
	font-size:11px;
	text-align:center;
	line-height: 7.5;
	letter-spacing:0.09em;
	color:#676767;
	background-color: #f0f0f0;
}
.footer p {
	margin: 0;
}


/*-------*/
/*DIASHOW*/
/*-------*/
.fullwidthimg {
	width: 100%;
	height:auto;
	text-align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.orbitfullwidthimg {
	max-width: 1024px;
	width: 100%;
	height:auto;
	text-align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.giantheadline {
	font-size:66px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align:center;
	letter-spacing:0.333em;
	padding-left:0.333em;
}
.genericlink {
	color: rgba(204, 204, 205, 1.0);
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align:center;
	display: block;
}
.roundedcornerswithshadow {
	border-radius: 5px;
	box-shadow: inset 0 2px 2px rgba(180,157,125,.15), inset 0 0 1px rgba(0,0,0,.2);
}


/*---------------*/
/*S H O P G R I D*/
/*---------------*/
.grid {
	padding: 10px;
	margin-bottom: -7.5%; /*Für Shop Padding von .grid-element*/
}
.grid-element {
	width: 33.333%;
	padding-bottom: 6.5%;
	/*height: 50%; /*49.5%*/
	position: relative;
	float: left;
}
.grid-element-content {
	overflow: hidden;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	position: absolute;
}
.grid-element-img {
	position: relative;
}
.grid-element-img,
.grid-element a,
.grid-element-img img {
	width: 100%;
	/*height: 100%;*/
	display: block;
}
.grid-element-details {
	width: 75%;
	margin: 10% auto 0 auto;
	position: relative;
	display: block;
	text-align: center;

	/*border-top: 1px dashed #ccc;*/
	border: 1px solid #000;
}
.grid-element-details:hover,
.grid-element-details:active,
.grid-element-details:focus,
.grid-element-details:link {
	color: #fff;
	background-color: #000;
}
.grid-element-details h4 {
	margin: 10%;
	/*padding: 5% 0;*/
	font-weight: 500;
	letter-spacing: 0.05em;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .grid-element {
      width: 100%;
      /*padding-bottom: 150%;*/
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .grid-element {
      width: 50%;
      /*padding-bottom: 75%;*/
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .grid-element {
      width: 33.3%;
      /*padding-bottom: 50%;*/
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .grid-element {
      width: 25%;
      /*padding-bottom: 37.5%;*/
   }
}


/*-------------*/
/*P R O D U C T*/
/*-------------*/
@media only screen and (max-width: 650px) {
	/*KLEIN*/
	.product-img, .product-desc {
		width: 95%;
	}

	.buy-button {
		width: 100%;
		margin-top: 0.5em;
	}
	.buy-select {
		width: 100%;
	}
}
@media only screen and (min-width: 651px) {
	/*GROß*/
	.product-img, .product-desc {
		float: left;
		width: 45%;
	}

	.buy-select {
		float: left;
		width: 33.3333%;
	}
	.buy-button {
		float: right;
		width: 33.3333%;
	}
}
.product-img, .product-desc {
	padding: 0 2.5%;
}


/*THUMBNAILS*/
.product-img-thumbs div {
	float: left;
}
.thumb {
	width: 30%;
	margin: 1.6666%;
}
.thumb a {
	display: block;
}
.thumb img {
	width: 100%;
}


/*DESC*/
.product-desc-text {
	margin: 1.4978em 0 4.236em 0;
}

.buy-button {
	font-size: 1.618em;
	background-color: #fff;
	border: 1px solid #021025;
	padding: 4%;
}
.buy-button:hover,
.buy-button:active,
.buy-button:focus,
.buy-button:link {
	background-color: #021025;
	color: #fff;
}


/*IMG-ZOOM*/
#zoom img {
	width: 100%;
}
.zoom {
  display:inline-block;
  position: relative;
  cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
  float:left;
  width: 100%;
}
.zoom:after {
  content:'';
  display:block;
  width:33px;
  height:33px;
  position:absolute;
  top:0;
  right:0;
  background:url(icon.png);
}
.zoom img {
  display: block;
}
.zoom img::selection {
  background-color: transparent;
}
#ex2 img:hover { cursor: url(grab.cur), default; }
#ex2 img:active { cursor: url(grabbed.cur), default; }

/*
░░░░░░░░░░░░░░▄░░░░░░░░░░░░░░▄░░░░░░░░░
░░░░░░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌░░░░░░░░
░░░░░░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐░░░░░░░░
░░░░░░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐░░░░░░░░
░░░░░░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐░░░░░░░░
░░░░░░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌░░░░░░░░
░░░░░░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒░░░░░░░░
░░░░░░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒░░░░░░░░
░░░░░░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀ ▌░░░░░░
░░░░░░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒ ▌░░░░░░
░░░░░▀▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒ ▐░░░░░░
░░░░░▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒ ▒▌░░░░░
░░░░░▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒ ▐░░░░░░
░░░░░░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒ ▌░░░░░░
░░░░░░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒░░░░░░░░
░░░░░░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒░░░░░░░░
░░░░░░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀░░░░░░░░
░░░░░░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀░░░░░░░░░░
░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░


such code
much stylesheet
wow
*/








/*::-webkit-scrollbar {
height: 16px;
overflow: visible;
width: 16px;
}
::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,.2);
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 7px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-button {
height: 0;
width: 0;
}
::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 7px;
}
::-webkit-scrollbar-corner {
background: transparent;
}
*/
